.angellist {
	color: #7fbb00;
}
.adn {
	color: #BB0000;
}
.android {
	color: #a4c639;
}
.apple {
	color: #666666;
}
.bitbucket, .bitbucket:hover {
	color: #205081;
}
.behance {
	color: #1769ff;
}
.btc {
	color: #E7881F;
}
.cc-amex {
	color: #002663;
}
.cc-discover {
	color: #EB7E44;
}
.cc-paypal {
	color: #003087;
}
.cc-mastercard {
	color: #ff9900;
}
.css3 {
	color: #7EC1CF;
}
.deviantart {
	color: #05cc47;
}
.deviantart:hover {
	color: #4dc47d;
}
.drupal {
	color: #00598e;
}
.drupal:hover {
	color: #0077c0;
}

.facebook {
	color: #3b5998;
}
.facebook:hover {
	color: #3b5998;
}

.flickr {
	color: #ff0084;
}
.gratipay {
	color: #572B00;
}
.twitter {
	color: #55acee;
}
.google {
	color: #dc4e41;
}

.instagram {
	color: #833ab4;
}

.linkedin {
	color: #0077b5;
}

.github {
	color: #333333;
}
.soundcloud {
	color: #ff8800;
}
.joomla {
	color: #1F417E;
}
.html5 {
	color: #e34f26;
}

